{% extends 'base.html' %}
{% load static %}
{% block title %}Comming soon page{% endblock %}
 {% block content %}
 <section class="flat-row flat-coming-soon parallax parallax2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-coming-soon text-center">
                    <div class="header-coming-soon">
                        <h2 class="sup-title">New Collection</h2>
                        <div class="title">Coming Soon</div>
                    </div>
                    <div class="wrap-countdown">
                        <div class="countdown"></div>
                    </div>
                    <div class="button flat-button">
                        <button type="button" class="bg-white" onclick="location.href='{% url 'home' %}'">BACK TO HOME</button>
                        <button type="button" onclick="location.href='{% url 'shop' %}'">CONTINUE SHOPING</button>
                    </div>
                </div><!-- /.wrap-coming-soon -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
 {% include "includes/js_block.html" %} 
 <script src="{% static 'javascript/jquery.countdown.js' %}"></script>
  <script>
    var countDown = function() {
        
        var before = '<div class="square"><div class="numb">',
            text = '</div><div class="text">';
                if ($().countdown) {
                $(".countdown").countdown('2025/1/22', function(event) {
                  $(this).html(event.strftime(before + '%D' + text + 'Days</div></div>' + before + '%H' + text + 'Hours</div></div>' + before + '%M' + text + 'Minutes</div></div>' + before + '%S' + text + 'Seconds</div>'));
                });
            }
              
    };
    countDown();
 </script> 
{% endblock content %}