{% extends 'base.html' %} 
{% load static %} 
{% block title %}Change password page{%endblock %} 
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        {% include "includes/messages.html" %}
  
        <div class="row">
            {% include "includes/dashboard_sidebar.html" %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong><i>Change your password:</i></strong>
                    </header>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-9">
                                <form action="{% url 'change_password' %}" method='POST'>
                                    {% csrf_token %}
                                    
                                    <div class="form-group m-5">
                                        <input type="password" name="current_password" class="form-control" placeholder="Current password" required>

                                    </div>
                                    <div class="form-group m-5">
                                        <input type="password" name="new_password" class="form-control" placeholder="Create new password" required>


                                    </div>
                                    <div class="form-group m-5">
                                        <input type="password" name="confirm_new_password" class="form-control" placeholder="Confirm new password" required>


                                    </div>
                                    
                                    <input  type="submit" value="submit" class="btn btn-primary mt-3 float-right">


                                </form>    
                                
                                    
                            </div>

                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card-body .// -->

                    <!-- table-responsive .end// -->
                </article>
                <!-- order-group.// -->
            </main>
        </div>
        <!-- row.// -->
    </div>
</section>
{% include "includes/js_block.html" %} 
{% endblock %}